
<div class="container">
  <h1>{{tekst.name}} </h1>
  <h3> Godziny otwarcia: </h3>
  
  <ul class="list-group">
    <li class="list-group-item">Poniedziałek: {{tekst.hours.monday}}</li>
    <li class="list-group-item">Wtorek: {{tekst.hours.thusday}}</li>
    <li class="list-group-item">Środa: {{tekst.hours.wednesday}}</li>
    <li class="list-group-item">Czwartek: {{tekst.hours.thursday}}</li>
    <li class="list-group-item">Piątek: {{tekst.hours.friday}}</li>
    <li class="list-group-item">Sobota: {{tekst.hours.saturday}}</li>
    <li class="list-group-item">Niedziela: {{tekst.hours.sunday}}</li>

  </ul>
</div>
