    <div class="navbar navbar-default ">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">{{title}}</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class ="Onas">
              <a routerLink="about">O nas</a>
            </li>
             <li class="Lista">
            <a routerLink="list">Lista</a>
            </li>
             <li class="Koszyk">
            <a routerLink="order">Koszyk</a>
            </li>

          </ul>
        </div>
      </div>
    </div>

<div class="container">
  <router-outlet>  </router-outlet>


   

</div>




